/* You can add global styles to this file, and also import other style files */
.feu {
    background-color: red;
}

.eau {
    background-color: #6390F0;
}

.plante {
    background-color: #7AC74C;
}

.insecte {
    background-color: #A6B91A;
}

.normal {
    background-color: #A8A77A;
}

.vol {
    background-color: #A98FF3;
}

.poison {
    background-color: #A33EA1;
}

.fee {
    background-color: #D685AD;
}
.psy {
    background-color: #F95587;
}

.electrik {
    background-color: #F7D02C;
}
 
.combat {
    background-color: #C22E28;
}

