    <div class="p-3">
      <div *ngIf="pokemon; else pokemonNull" class="card mb-3 " style="max-width: 540px;" appBorderCard="#6390F0">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{pokemon.picture}} class="img-fluid rounded-start" alt={{pokemon.name}}>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">#{{pokemon.id}} {{pokemon.name}}</h5>
              <p class="card-text">
                <span *ngFor="let type of pokemon.types" class="badge {{type | pokemonTagColor}}">{{type}}</span>
              </p>
              <p class="card-text"> <a class="btn btn-secondary" routerLink="/pokemon/{{pokemon.id}}">Voir Détails</a></p>
              <button class="btn btn-warning" (click) = "selectPokemonForTeam(pokemon.id)" type="button">Ajouter dans l'équipe</button>

              <p class="card-text"><small class="text-muted">Created at : {{pokemon.created | date:'medium'  }}</small></p>
            </div>
          </div>
        </div>
      </div>

      <ng-template #pokemonNull>
            <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Attention !</h4>
            <p>Le pokemon n'existe pas !</p>
            <hr>
            <p class="mb-0">Veuillez vérifier l'identifiant du pokemon.</p>
            </div>
        </ng-template>
    </div>
